<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Incident Report</title>
    <!-- Include Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title"></h1>
            <div class="table-container">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-centered is-hoverable">
                    <tbody>
                        <tr>
                            <th class="has-text-centered is-dark" colspan="2">Cyber Threat Report</th>
                        </tr>
                        <tr>
                            <th>Date of Report</th>
                            <td class="is-two-thirds">{{ report['report_date'] }}</td>
                        </tr>
                        <tr>
                            <th>Date of Incident</th>
                            <td>{{ report['incident_date'] }}</td>
                        </tr>
                        <tr>
                            <th>Type of Attack</th>
                            <td>{{ report['attack_type'] }}</td>
                        </tr>
                        <tr>
                            <th>Threat Actor</th>
                            <td>{{ report['threat_actor'] }}</td>
                        </tr>
                        <tr>
                            <th>Threat Actor Personalities (Alias)</th>
                            <td>{{ report['threat_actor_alias'] }}</td>
                        </tr>
                        <tr>
                            <th>Targeted Unit/s</th>
                            <td>{{ report['targeted_units'] }}</td>
                        </tr>
                        <tr>
                            <th>Target Industries</th>
                            <td>{{ report['target_industries'] }}</td>
                        </tr>
                        <tr>
                            <th>Incident Sites</th>
                            <td>{{ report['incident_sites'] }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ report['address'] }}</td>
                        </tr>
                        <tr>
                            <th>Severity Level</th>
                            <td>{{ report['severity'] }}</td>
                        </tr>
                        <tr>
                            <th>Digital Infrastructure</th>
                            <td>{{ report['digital_infrastructure'] }}</td>
                        </tr>
                        <tr>
                            <th>Operating System</th>
                            <td>{{ report['operating_system'] }}</td>
                        </tr>
                        <tr>
                            <th>Method of Attack</th>
                            <td>{{ report['attack_method'] }}</td>
                        </tr>
                        <tr>
                            <th>Impact</th>
                            <td>{{ report['impact'] }}</td>
                        </tr>
                        <tr>
                            <th>Action Taken</th>
                            <td>{{ report['action_taken'] }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ report['source'] }}</td>
                        </tr>
                        <tr>
                            <th>Recommendation/s</th>
                            <td>{{ report['recommendations'] }}</td>
                        </tr>
                        <tr>
                            <th>Assessment</th>
                            <td>{{ report['assessment'] }}</td>
                        </tr>
                        <tr>
                            <th>Remarks</th>
                            <td>{{ report['remarks'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<div class="buttons mt-4">
				<a class="button is-warning" href="{{ url_for('dashboard') }}">Back to Dashboard</a>
                <button class="button is-info" onclick="exportToPdf()">Export to PDF</button>
            </div>
        </div>
    </section>
    <script>
	    function exportToPdf() {
	        window.location.href = "{{ url_for('export_pdf', report_id=report['id']) }}";
	    }
    </script>
</body>
</html>
